<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HWRemedeation-Release</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="daac71">  <td>17/07/06 23:52:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@4918ad0c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@410633443</td>   <td></td> </tr>
<tr bgcolor="6690b3">  <td>17/07/06 23:52:27</td>   <td>16722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssignedBidToSelf.tc_RHW_005()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@4918ad0c]">tc_RHW_005</td> 
  <td>main@410633443</td>   <td></td> </tr>
<tr bgcolor="daac71">  <td>17/07/06 23:55:56</td>   <td>225377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@4918ad0c]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@410633443</td>   <td></td> </tr>
<tr bgcolor="daac71">  <td>17/07/06 23:55:56</td>   <td>225377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@4918ad0c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@410633443</td>   <td></td> </tr>
<tr bgcolor="6690b3">  <td>17/07/06 23:56:24</td>   <td>252979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssignedBidToSelf.tc_RHW_006()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@4918ad0c]">tc_RHW_006</td> 
  <td>main@410633443</td>   <td></td> </tr>
<tr bgcolor="daac71">  <td>17/07/06 23:57:10</td>   <td>299367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@4918ad0c]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@410633443</td>   <td></td> </tr>
<tr bgcolor="daac71">  <td>17/07/06 23:57:10</td>   <td>299383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.ReleaseFocusBid@7ee16b23]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@410633443</td>   <td></td> </tr>
<tr bgcolor="8eb268">  <td>17/07/06 23:57:28</td>   <td>317446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReleaseFocusBid.tc_RHW_011()[pri:0, instance:com.BRET.testcases.HWRemediation.ReleaseFocusBid@7ee16b23]">tc_RHW_011</td> 
  <td>main@410633443</td>   <td></td> </tr>
<tr bgcolor="daac71">  <td>17/07/07 00:00:25</td>   <td>494291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.ReleaseFocusBid@7ee16b23]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@410633443</td>   <td></td> </tr>
<tr bgcolor="daac71">  <td>17/07/07 00:00:25</td>   <td>494291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.ReleaseFocusBid@7ee16b23]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@410633443</td>   <td></td> </tr>
<tr bgcolor="8eb268">  <td>17/07/07 00:00:52</td>   <td>521032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReleaseFocusBid.tc_RHW_012()[pri:0, instance:com.BRET.testcases.HWRemediation.ReleaseFocusBid@7ee16b23]">tc_RHW_012</td> 
  <td>main@410633443</td>   <td></td> </tr>
<tr bgcolor="daac71">  <td>17/07/07 00:01:32</td>   <td>560893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.ReleaseFocusBid@7ee16b23]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@410633443</td>   <td></td> </tr>
</table>
