<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Search</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="de7864">  <td>17/07/04 02:47:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.Search.Search@1d0bc9e9]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1085692695</td>   <td></td> </tr>
<tr bgcolor="de7864">  <td>17/07/04 02:48:04</td>   <td>41944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.Search.Search@1d0bc9e9]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1085692695</td>   <td></td> </tr>
<tr bgcolor="de7864">  <td>17/07/04 02:48:20</td>   <td>57186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.Search.Search@1d0bc9e9]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1085692695</td>   <td></td> </tr>
<tr bgcolor="de7864">  <td>17/07/04 02:45:50</td>   <td>-92395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.Search.Search@1d0bc9e9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1085692695</td>   <td></td> </tr>
<tr bgcolor="de7864">  <td>17/07/04 02:47:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.Search.Search@1d0bc9e9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1085692695</td>   <td></td> </tr>
<tr bgcolor="de7864">  <td>17/07/04 02:48:04</td>   <td>41944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.Search.Search@1d0bc9e9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1085692695</td>   <td></td> </tr>
<tr bgcolor="7bcd8f">  <td>17/07/04 02:46:16</td>   <td>-66360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Search.tc_SRCH_001()[pri:0, instance:com.BRET.testcases.Search.Search@1d0bc9e9]">tc_SRCH_001</td> 
  <td>main@1085692695</td>   <td></td> </tr>
<tr bgcolor="7bcd8f">  <td>17/07/04 02:47:26</td>   <td>3151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Search.tc_SRCH_002()[pri:0, instance:com.BRET.testcases.Search.Search@1d0bc9e9]">tc_SRCH_002</td> 
  <td>main@1085692695</td>   <td></td> </tr>
<tr bgcolor="7bcd8f">  <td>17/07/04 02:48:08</td>   <td>45173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Search.tc_SRCH_004()[pri:0, instance:com.BRET.testcases.Search.Search@1d0bc9e9]">tc_SRCH_004</td> 
  <td>main@1085692695</td>   <td></td> </tr>
</table>
