<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HWRemedeation-Reject</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aa669f">  <td>17/07/04 18:12:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@2c72b972]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@112764309</td>   <td></td> </tr>
<tr bgcolor="a192a5">  <td>17/07/04 18:12:49</td>   <td>19662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssignedBidToSelf.tc_RHW_005()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@2c72b972]">tc_RHW_005</td> 
  <td>main@112764309</td>   <td></td> </tr>
<tr bgcolor="aa669f">  <td>17/07/04 18:15:08</td>   <td>158483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@2c72b972]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@112764309</td>   <td></td> </tr>
<tr bgcolor="aa669f">  <td>17/07/04 18:15:08</td>   <td>158484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@2c72b972]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@112764309</td>   <td></td> </tr>
<tr bgcolor="a192a5">  <td>17/07/04 18:15:29</td>   <td>179846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssignedBidToSelf.tc_RHW_006()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@2c72b972]">tc_RHW_006</td> 
  <td>main@112764309</td>   <td></td> </tr>
<tr bgcolor="aa669f">  <td>17/07/04 18:16:06</td>   <td>216801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@2c72b972]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@112764309</td>   <td></td> </tr>
<tr bgcolor="aa669f">  <td>17/07/04 18:16:06</td>   <td>216879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.RejectFocusBid@5438c785]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@112764309</td>   <td></td> </tr>
<tr bgcolor="f1d37a">  <td>17/07/04 18:16:21</td>   <td>231315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RejectFocusBid.tc_RHW_009()[pri:0, instance:com.BRET.testcases.HWRemediation.RejectFocusBid@5438c785]">tc_RHW_009</td> 
  <td>main@112764309</td>   <td></td> </tr>
<tr bgcolor="aa669f">  <td>17/07/04 18:18:54</td>   <td>384100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.RejectFocusBid@5438c785]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@112764309</td>   <td></td> </tr>
<tr bgcolor="aa669f">  <td>17/07/04 18:18:54</td>   <td>384100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.RejectFocusBid@5438c785]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@112764309</td>   <td></td> </tr>
<tr bgcolor="f1d37a">  <td>17/07/04 18:19:19</td>   <td>409504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RejectFocusBid.tc_RHW_010()[pri:0, instance:com.BRET.testcases.HWRemediation.RejectFocusBid@5438c785]">tc_RHW_010</td> 
  <td>main@112764309</td>   <td></td> </tr>
<tr bgcolor="aa669f">  <td>17/07/04 18:19:55</td>   <td>445316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.RejectFocusBid@5438c785]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@112764309</td>   <td></td> </tr>
</table>
