<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Bid Search</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd68eb">  <td>17/07/10 21:37:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.Search.Search@461014]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1698852283</td>   <td></td> </tr>
<tr bgcolor="dd68eb">  <td>17/07/10 21:38:09</td>   <td>45317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.Search.Search@461014]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1698852283</td>   <td></td> </tr>
<tr bgcolor="dd68eb">  <td>17/07/10 21:36:08</td>   <td>-75819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.Search.Search@461014]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1698852283</td>   <td></td> </tr>
<tr bgcolor="dd68eb">  <td>17/07/10 21:37:24</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.Search.Search@461014]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1698852283</td>   <td></td> </tr>
<tr bgcolor="b4a7de">  <td>17/07/10 21:36:21</td>   <td>-62716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Search.tc_SRCH_001()[pri:0, instance:com.BRET.testcases.Search.Search@461014]">tc_SRCH_001</td> 
  <td>main@1698852283</td>   <td></td> </tr>
<tr bgcolor="b4a7de">  <td>17/07/10 21:37:28</td>   <td>4745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Search.tc_SRCH_002()[pri:0, instance:com.BRET.testcases.Search.Search@461014]">tc_SRCH_002</td> 
  <td>main@1698852283</td>   <td></td> </tr>
</table>
