<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HW bid Remedeation-Release</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6372b1">  <td>17/07/14 19:56:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@65644dee]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1166488352</td>   <td></td> </tr>
<tr bgcolor="a5649a">  <td>17/07/14 19:56:49</td>   <td>15431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssignedBidToSelf.tc_RHW_005()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@65644dee]">tc_RHW_005</td> 
  <td>main@1166488352</td>   <td></td> </tr>
<tr bgcolor="6372b1">  <td>17/07/14 19:59:35</td>   <td>180856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@65644dee]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1166488352</td>   <td></td> </tr>
<tr bgcolor="6372b1">  <td>17/07/14 19:59:35</td>   <td>180856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@65644dee]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1166488352</td>   <td></td> </tr>
<tr bgcolor="a5649a">  <td>17/07/14 19:59:53</td>   <td>199171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssignedBidToSelf.tc_RHW_006()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@65644dee]">tc_RHW_006</td> 
  <td>main@1166488352</td>   <td></td> </tr>
<tr bgcolor="6372b1">  <td>17/07/14 20:00:35</td>   <td>241282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AssignedBidToSelf@65644dee]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1166488352</td>   <td></td> </tr>
<tr bgcolor="6372b1">  <td>17/07/14 20:00:36</td>   <td>242686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.ReleaseFocusBid@2e74946]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1166488352</td>   <td></td> </tr>
<tr bgcolor="f8eebf">  <td>17/07/14 20:00:53</td>   <td>259029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReleaseFocusBid.tc_RHW_011()[pri:0, instance:com.BRET.testcases.HWRemediation.ReleaseFocusBid@2e74946]">tc_RHW_011</td> 
  <td>main@1166488352</td>   <td></td> </tr>
<tr bgcolor="6372b1">  <td>17/07/14 20:03:08</td>   <td>394087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.ReleaseFocusBid@2e74946]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1166488352</td>   <td></td> </tr>
<tr bgcolor="6372b1">  <td>17/07/14 20:03:08</td>   <td>394087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.ReleaseFocusBid@2e74946]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1166488352</td>   <td></td> </tr>
<tr bgcolor="f8eebf">  <td>17/07/14 20:03:27</td>   <td>412801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReleaseFocusBid.tc_RHW_012()[pri:0, instance:com.BRET.testcases.HWRemediation.ReleaseFocusBid@2e74946]">tc_RHW_012</td> 
  <td>main@1166488352</td>   <td></td> </tr>
<tr bgcolor="6372b1">  <td>17/07/14 20:03:57</td>   <td>443599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.ReleaseFocusBid@2e74946]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1166488352</td>   <td></td> </tr>
</table>
