<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Login</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cb63c4">  <td>17/07/13 06:20:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.Login.TC_LGI_013@55a71fa6]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@21038960</td>   <td></td> </tr>
<tr bgcolor="cb63c4">  <td>17/07/13 06:20:24</td>   <td>-32704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.Login.TC_LGI_013@55a71fa6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@21038960</td>   <td></td> </tr>
<tr bgcolor="6864d6">  <td>17/07/13 06:20:43</td>   <td>-13136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LGI_013.tcLGI_013()[pri:0, instance:com.BRET.testcases.Login.TC_LGI_013@55a71fa6]">tcLGI_013</td> 
  <td>main@21038960</td>   <td></td> </tr>
</table>
